In [1]:
import pandas as pd

In [2]:
# Load a dataset into a Pandas Dataframe, make attributes as str
df = pd.read_csv("train.csv", sep=',', dtype=str)

In [3]:
df.shape

(8693, 14)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   object
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   object
 8   FoodCourt     8510 non-null   object
 9   ShoppingMall  8485 non-null   object
 10  Spa           8510 non-null   object
 11  VRDeck        8505 non-null   object
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   object
dtypes: object(14)
memory usage: 950.9+ KB

In [5]:
# First 10 raws
df.head(10)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
5,0005_01,Earth,False,F/0/P,PSO J318.5-22,44.0,False,0.0,483.0,0.0,291.0,0.0,Sandie Hinetthews,True
6,0006_01,Earth,False,F/2/S,TRAPPIST-1e,26.0,False,42.0,1539.0,3.0,0.0,0.0,Billex Jacostaffey,True
7,0006_02,Earth,True,G/0/S,TRAPPIST-1e,28.0,False,0.0,0.0,0.0,0.0,NaN,Candra Jacostaffey,True
8,0007_01,Earth,False,F/3/S,TRAPPIST-1e,35.0,False,0.0,785.0,17.0,216.0,0.0,Andona Beston,True
9,0008_01,Europa,True,B/1/P,55 Cancri e,14.0,False,0.0,0.0,0.0,0.0,0.0,Erraiam Flatic,True

In [6]:
# Last 10 raws
df.tail(10)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
8683,9272_02,Earth,False,F/1894/P,TRAPPIST-1e,21.0,False,86.0,3.0,149.0,208.0,329.0,Gordo Simson,False
8684,9274_01,NaN,True,G/1508/P,TRAPPIST-1e,23.0,False,0.0,0.0,0.0,0.0,0.0,Chelsa Bullisey,True
8685,9275_01,Europa,False,A/97/P,TRAPPIST-1e,0.0,False,0.0,0.0,0.0,0.0,0.0,Polaton Conable,True
8686,9275_02,Europa,False,A/97/P,TRAPPIST-1e,32.0,False,1.0,1146.0,0.0,50.0,34.0,Diram Conable,False
8687,9275_03,Europa,NaN,A/97/P,TRAPPIST-1e,30.0,False,0.0,3208.0,0.0,2.0,330.0,Atlasym Conable,True
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [7]:
# Random 10 raws as a new dataset
random_df = df.sample(10)
random_df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
6407,6766_01,Earth,False,G/1098/P,PSO J318.5-22,16.0,False,399.0,0.0,3.0,0.0,137.0,Viviay Nieldson,False
6209,6565_01,Mars,False,E/437/S,TRAPPIST-1e,40.0,False,2081.0,1.0,0.0,0.0,25.0,Lakes Emead,False
3259,3496_02,Mars,False,F/722/P,TRAPPIST-1e,27.0,False,542.0,0.0,1231.0,0.0,1.0,NaN,False
3197,3443_01,Earth,False,F/648/S,TRAPPIST-1e,38.0,False,792.0,0.0,NaN,1.0,29.0,Marix Poperez,True
7406,7914_02,Earth,False,G/1278/P,TRAPPIST-1e,24.0,False,0.0,80.0,106.0,344.0,0.0,Marynk Munozaley,False
7263,7768_01,Earth,False,F/1484/S,TRAPPIST-1e,14.0,False,0.0,268.0,239.0,127.0,0.0,Vivia Ocherman,True
5855,6200_01,Europa,False,B/238/S,TRAPPIST-1e,27.0,False,3.0,4654.0,0.0,657.0,214.0,Saxino Duckil,True
3368,3622_01,Europa,True,C/119/P,55 Cancri e,54.0,False,0.0,0.0,0.0,0.0,0.0,Hadlam Honatte,True
6003,6355_01,Earth,False,F/1213/S,55 Cancri e,21.0,False,0.0,641.0,0.0,0.0,0.0,Joanry Foledges,True
3618,3894_01,Earth,False,F/735/S,PSO J318.5-22,18.0,False,0.0,525.0,0.0,0.0,84.0,Stald Vinozarks,True

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   object
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   object
 8   FoodCourt     8510 non-null   object
 9   ShoppingMall  8485 non-null   object
 10  Spa           8510 non-null   object
 11  VRDeck        8505 non-null   object
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   object
dtypes: object(14)
memory usage: 950.9+ KB

<b>Columns formatting</b>

In [9]:
#First column is PassengerId
# From kaggle: gggg_pp where gggg = group the passenger is travelling with; pp = their number within the group.
# So, if gggg is the same = group is True, pp is number of the group
# It can show how group attribute can influence on survival, so it is better to separate this column
# and make gggg = 1 if group is True, 0 if False

df[['Company', 'Number']] = df['PassengerId'].str.split('_', expand=True)

In [10]:
# Format to int
df["Company"] = df["Company"].astype('int64')
df["Number"] = df["Number"].astype('int64')

In [11]:
df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Company,Number
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,1,1
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,2,1
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,3,1
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,3,2
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False,9276,1
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False,9278,1
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True,9279,1
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False,9280,1
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True,9280,2

In [12]:
# 2 new columns were added to the right of the table
# PassengerId column is not necessary anymore, so we can delete it
df.drop("PassengerId", axis=1, inplace=True)
df

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Company,Number
0,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,1,1
1,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,2,1
2,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,3,1
3,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,3,2
4,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False,9276,1
8689,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False,9278,1
8690,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True,9279,1
8691,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False,9280,1
8692,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True,9280,2

In [13]:
df.Company.info()
# None of the fields is Null = ok

<class 'pandas.core.series.Series'>
RangeIndex: 8693 entries, 0 to 8692
Series name: Company
Non-Null Count  Dtype
--------------  -----
8693 non-null   int64
dtypes: int64(1)
memory usage: 68.0 KB

In [14]:
df.Number.info()
# None of the fields is Null = ok

<class 'pandas.core.series.Series'>
RangeIndex: 8693 entries, 0 to 8692
Series name: Number
Non-Null Count  Dtype
--------------  -----
8693 non-null   int64
dtypes: int64(1)
memory usage: 68.0 KB

In [15]:
# Simple algorythm to make Company fields = 0 if travelling alone, 1 if with group
# Column Number will show how many other passengers are in the group
for i in range(len(df.Number)):
    if df["Number"][i] != 1:
        for j in range(df["Number"][i]):
            df["Number"][i-j] = df["Number"][i]
            df["Company"][i-j] = 1

for i in range(len(df.Number)):
    df["Number"][i] -= 1
    if df["Number"][i] == 0:
        df["Company"][i] = 0

/tmp/ipykernel_6533/3702867390.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Number"][i-j] = df["Number"][i]
/tmp/ipykernel_6533/3702867390.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Company"][i-j] = 1
/tmp/ipykernel_6533/3702867390.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Number"][i] -= 1
/tmp/ipykernel_6533/3702867390.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Company"][i] = 0

In [16]:
df
#check if everything ok

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Company,Number
0,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,0,0
1,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,0,0
2,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,1,1
3,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,1,1
4,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False,0,0
8689,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False,0,0
8690,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True,0,0
8691,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False,1,1
8692,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True,1,1

In [17]:
# Next attribute is HomePlanet
df.HomePlanet.info()

<class 'pandas.core.series.Series'>
RangeIndex: 8693 entries, 0 to 8692
Series name: HomePlanet
Non-Null Count  Dtype
--------------  -----
8492 non-null   object
dtypes: object(1)
memory usage: 68.0+ KB

In [18]:
# Check quantity of null objects
df.HomePlanet.value_counts(dropna=False)

Earth     4602
Europa    2131
Mars      1759
NaN        201
Name: HomePlanet, dtype: int64

In [19]:
# Just 201 are null, so we can assign it to the biggest one = Earth
df["HomePlanet"] = df["HomePlanet"].fillna("Earth")
df.HomePlanet.value_counts(dropna=False)

Earth     4803
Europa    2131
Mars      1759
Name: HomePlanet, dtype: int64

In [20]:
# Now we have 3 types of home planet
# Format them to int where Earth = 0, Europa = 1, Mars = 2
map_conditions = {
    "Earth": 0,
    "Europa": 1,
    "Mars": 2
}

df["HomePlanet"] = df["HomePlanet"].map(map_conditions)
df.HomePlanet.value_counts(dropna=False)

0    4803
1    2131
2    1759
Name: HomePlanet, dtype: int64

In [21]:
df

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Company,Number
0,1,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,0,0
1,0,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,0,0
2,1,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,1,1
3,1,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,1,1
4,0,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,1,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False,0,0
8689,0,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False,0,0
8690,0,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True,0,0
8691,1,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False,1,1
8692,1,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True,1,1

In [22]:
# Next is CryoSleep attribute
df.CryoSleep.info()

<class 'pandas.core.series.Series'>
RangeIndex: 8693 entries, 0 to 8692
Series name: CryoSleep
Non-Null Count  Dtype
--------------  -----
8476 non-null   object
dtypes: object(1)
memory usage: 68.0+ KB

In [23]:
df.CryoSleep.value_counts(dropna=False)

False    5439
True     3037
NaN       217
Name: CryoSleep, dtype: int64

In [24]:
# Reassign NaN to the biggest = False
# Format to int where false = 0, true = 1
df["CryoSleep"] = df["CryoSleep"].fillna("False")
df.CryoSleep = df.CryoSleep.apply(lambda x: 1 if x == "True" else 0)
df.CryoSleep.value_counts(dropna=False)

0    5656
1    3037
Name: CryoSleep, dtype: int64

In [25]:
df.info()
# All is good

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8693 non-null   int64
 1   CryoSleep     8693 non-null   int64
 2   Cabin         8494 non-null   object
 3   Destination   8511 non-null   object
 4   Age           8514 non-null   object
 5   VIP           8490 non-null   object
 6   RoomService   8512 non-null   object
 7   FoodCourt     8510 non-null   object
 8   ShoppingMall  8485 non-null   object
 9   Spa           8510 non-null   object
 10  VRDeck        8505 non-null   object
 11  Name          8493 non-null   object
 12  Transported   8693 non-null   object
 13  Company       8693 non-null   int64
 14  Number        8693 non-null   int64
dtypes: int64(4), object(11)
memory usage: 1018.8+ KB

In [26]:
# Next is Cabin attribute
# From kaggle: Takes the form deck/num/side, where side can be either P for Port (right) or S for Starboard (left).
# Can be useful to check if any dependence on part of the ship
# Separate in tree columns and delete Cabin column
df[['Deck', 'Num', 'Side']] = df['Cabin'].str.split('/', expand=True)
df.drop("Cabin", axis=1, inplace=True)

In [27]:
# Num column doesn't look useful, so delete it either
df.drop("Num", axis=1, inplace=True)
df

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Company,Number,Deck,Side
0,1,0,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,0,0,B,P
1,0,0,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,0,0,F,S
2,1,0,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,1,1,A,S
3,1,0,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,1,1,A,S
4,0,0,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,0,0,F,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,1,0,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False,0,0,A,P
8689,0,1,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False,0,0,G,S
8690,0,0,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True,0,0,G,S
8691,1,0,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False,1,1,E,S
8692,1,0,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True,1,1,E,S

In [28]:
# Analyse Deck attribute
df.Deck.value_counts(dropna=False)

F      2794
G      2559
E       876
B       779
C       747
D       478
A       256
NaN     199
T         5
Name: Deck, dtype: int64

In [29]:
# Considering that usual aircraft has A-F rows, T seems to be an error value
# T looks like F, so it is better to reassign it to F
# Reassign 'Nan' to the biggest value = F
df["Deck"] = df["Deck"].fillna("F")
df.Deck = df.Deck.apply(lambda x: "F" if x == "T" else x)
df.Deck.value_counts(dropna=False)

F    2998
G    2559
E     876
B     779
C     747
D     478
A     256
Name: Deck, dtype: int64

In [30]:
# 7 different values - format them to int where A = 0, B = 1 ... G = 6
map_conditions = {
    "A": 0,
    "B": 1,
    "C": 2,
    "D": 3,
    "E": 4,
    "F": 5,
    "G": 6
}
df["Deck"] = df["Deck"].map(map_conditions)
df.Deck.value_counts(dropna=False)

5    2998
6    2559
4     876
1     779
2     747
3     478
0     256
Name: Deck, dtype: int64

In [31]:
df

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Company,Number,Deck,Side
0,1,0,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,0,0,1,P
1,0,0,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,0,0,5,S
2,1,0,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,1,1,0,S
3,1,0,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,1,1,0,S
4,0,0,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,0,0,5,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,1,0,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False,0,0,0,P
8689,0,1,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False,0,0,6,S
8690,0,0,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True,0,0,6,S
8691,1,0,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False,1,1,4,S
8692,1,0,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True,1,1,4,S

In [32]:
# Next is Side
df.Side.value_counts(dropna=False)

S      4288
P      4206
NaN     199
Name: Side, dtype: int64

In [33]:
# S and P have almost different values
# Add NaN to S
# Format to int where S = 0, P = 1
df["Side"] = df["Side"].fillna("S")
df.Side = df.Side.apply(lambda x: 0 if x == "S" else 1)
df.Side.value_counts(dropna=False)

0    4487
1    4206
Name: Side, dtype: int64

In [34]:
df

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Company,Number,Deck,Side
0,1,0,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,0,0,1,1
1,0,0,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,0,0,5,0
2,1,0,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,1,1,0,0
3,1,0,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,1,1,0,0
4,0,0,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,0,0,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,1,0,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False,0,0,0,1
8689,0,1,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False,0,0,6,0
8690,0,0,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True,0,0,6,0
8691,1,0,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False,1,1,4,0
8692,1,0,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True,1,1,4,0

In [35]:
# Next one is Destination attribute
df.Destination.info()

<class 'pandas.core.series.Series'>
RangeIndex: 8693 entries, 0 to 8692
Series name: Destination
Non-Null Count  Dtype
--------------  -----
8511 non-null   object
dtypes: object(1)
memory usage: 68.0+ KB

In [36]:
df.Destination.value_counts(dropna=False)

TRAPPIST-1e      5915
55 Cancri e      1800
PSO J318.5-22     796
NaN               182
Name: Destination, dtype: int64

In [37]:
# Reassign NaN to the biggest = TRAPPIST-1e
df["Destination"] = df["Destination"].fillna("TRAPPIST-1e")
df.Destination.value_counts(dropna=False)

TRAPPIST-1e      6097
55 Cancri e      1800
PSO J318.5-22     796
Name: Destination, dtype: int64

In [38]:
# 3 types of results
# Format them to int where TRAPPIST-1e is 0, 55 Cancri e is 1, and PSO J318.5-22 is 2
map_conditions = {
    "TRAPPIST-1e": 0,
    "55 Cancri e": 1,
    "PSO J318.5-22": 2
}
df["Destination"] = df["Destination"].map(map_conditions)
df.Destination.value_counts(dropna=False)

0    6097
1    1800
2     796
Name: Destination, dtype: int64

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8693 non-null   int64
 1   CryoSleep     8693 non-null   int64
 2   Destination   8693 non-null   int64
 3   Age           8514 non-null   object
 4   VIP           8490 non-null   object
 5   RoomService   8512 non-null   object
 6   FoodCourt     8510 non-null   object
 7   ShoppingMall  8485 non-null   object
 8   Spa           8510 non-null   object
 9   VRDeck        8505 non-null   object
 10  Name          8493 non-null   object
 11  Transported   8693 non-null   object
 12  Company       8693 non-null   int64
 13  Number        8693 non-null   int64
 14  Deck          8693 non-null   int64
 15  Side          8693 non-null   int64
dtypes: int64(7), object(9)
memory usage: 1.1+ MB

In [40]:
# Age will do later

In [41]:
# Next is VIP column
df.VIP.info()

<class 'pandas.core.series.Series'>
RangeIndex: 8693 entries, 0 to 8692
Series name: VIP
Non-Null Count  Dtype
--------------  -----
8490 non-null   object
dtypes: object(1)
memory usage: 68.0+ KB

In [42]:
df.VIP.value_counts(dropna=False)

False    8291
NaN       203
True      199
Name: VIP, dtype: int64

In [43]:
#NaN can be reassigned to False
df["VIP"] = df["VIP"].fillna("False")
df.VIP.value_counts(dropna=False)

False    8494
True      199
Name: VIP, dtype: int64

In [44]:
# First observation: almost all VIP passengers died
# Format to in where False = 0, True = 1
df.VIP = df.VIP.apply(lambda x: 0 if x == "False" else 1)
df.VIP.value_counts(dropna=False)

0    8494
1     199
Name: VIP, dtype: int64

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8693 non-null   int64
 1   CryoSleep     8693 non-null   int64
 2   Destination   8693 non-null   int64
 3   Age           8514 non-null   object
 4   VIP           8693 non-null   int64
 5   RoomService   8512 non-null   object
 6   FoodCourt     8510 non-null   object
 7   ShoppingMall  8485 non-null   object
 8   Spa           8510 non-null   object
 9   VRDeck        8505 non-null   object
 10  Name          8493 non-null   object
 11  Transported   8693 non-null   object
 12  Company       8693 non-null   int64
 13  Number        8693 non-null   int64
 14  Deck          8693 non-null   int64
 15  Side          8693 non-null   int64
dtypes: int64(8), object(8)
memory usage: 1.1+ MB

In [46]:
# Next is RoomService attribute
df.RoomService.value_counts(dropna=False)

0.0       5577
NaN        181
1.0        117
2.0         79
3.0         61
          ...
1612.0       1
2598.0       1
632.0        1
378.0        1
745.0        1
Name: RoomService, Length: 1274, dtype: int64

In [47]:
# Nan to the biggest -> 0.0
# Amounts doesn't seem to be useful, so we can assign 0 (false) if no service used
# 1 (True) if any
df["RoomService"] = df["RoomService"].fillna("0.0")
df.RoomService = df.RoomService.apply(lambda x: 0 if x == "0.0" else 1)
df.RoomService.value_counts(dropna=False)

0    5758
1    2935
Name: RoomService, dtype: int64

In [48]:
# The same for FoodCourt, ShoppingMall, Spa, VRDeck
df.FoodCourt.value_counts(dropna=False)

0.0       5456
NaN        183
1.0        116
2.0         75
3.0         53
          ...
3846.0       1
5193.0       1
312.0        1
827.0        1
4688.0       1
Name: FoodCourt, Length: 1508, dtype: int64

In [49]:
df.ShoppingMall.value_counts(dropna=False)

0.0       5587
NaN        208
1.0        153
2.0         80
3.0         59
          ...
3627.0       1
2074.0       1
871.0        1
742.0        1
1872.0       1
Name: ShoppingMall, Length: 1116, dtype: int64

In [50]:
df.Spa.value_counts(dropna=False)

0.0       5324
NaN        183
1.0        146
2.0        105
3.0         53
          ...
273.0        1
2581.0       1
2948.0       1
3778.0       1
1643.0       1
Name: Spa, Length: 1328, dtype: int64

In [51]:
df.VRDeck.value_counts(dropna=False)

0.0       5495
NaN        188
1.0        139
2.0         70
3.0         56
          ...
297.0        1
1788.0       1
1113.0       1
9244.0       1
3235.0       1
Name: VRDeck, Length: 1307, dtype: int64

In [52]:
# The same for FoodCourt, ShoppingMall, Spa, VRDeck as for RoomService
df["FoodCourt"] = df["FoodCourt"].fillna("0.0")
df.FoodCourt = df.FoodCourt.apply(lambda x: 0 if x == "0.0" else 1)

df["ShoppingMall"] = df["ShoppingMall"].fillna("0.0")
df.ShoppingMall = df.ShoppingMall.apply(lambda x: 0 if x == "0.0" else 1)

df["Spa"] = df["Spa"].fillna("0.0")
df.Spa = df.Spa.apply(lambda x: 0 if x == "0.0" else 1)

df["VRDeck"] = df["VRDeck"].fillna("0.0")
df.VRDeck = df.VRDeck.apply(lambda x: 0 if x == "0.0" else 1)

In [53]:
df.FoodCourt.value_counts(dropna=False)

0    5639
1    3054
Name: FoodCourt, dtype: int64

In [54]:
df.ShoppingMall.value_counts(dropna=False)

0    5795
1    2898
Name: ShoppingMall, dtype: int64

In [55]:
df.Spa.value_counts(dropna=False)

0    5507
1    3186
Name: Spa, dtype: int64

In [56]:
df.VRDeck.value_counts(dropna=False)

0    5683
1    3010
Name: VRDeck, dtype: int64

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8693 non-null   int64
 1   CryoSleep     8693 non-null   int64
 2   Destination   8693 non-null   int64
 3   Age           8514 non-null   object
 4   VIP           8693 non-null   int64
 5   RoomService   8693 non-null   int64
 6   FoodCourt     8693 non-null   int64
 7   ShoppingMall  8693 non-null   int64
 8   Spa           8693 non-null   int64
 9   VRDeck        8693 non-null   int64
 10  Name          8493 non-null   object
 11  Transported   8693 non-null   object
 12  Company       8693 non-null   int64
 13  Number        8693 non-null   int64
 14  Deck          8693 non-null   int64
 15  Side          8693 non-null   int64
dtypes: int64(13), object(3)
memory usage: 1.1+ MB

In [58]:
df

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Company,Number,Deck,Side
0,1,0,0,39.0,0,0,0,0,0,0,Maham Ofracculy,False,0,0,1,1
1,0,0,0,24.0,0,1,1,1,1,1,Juanna Vines,True,0,0,5,0
2,1,0,0,58.0,1,1,1,0,1,1,Altark Susent,False,1,1,0,0
3,1,0,0,33.0,0,0,1,1,1,1,Solam Susent,False,1,1,0,0
4,0,0,0,16.0,0,1,1,1,1,1,Willy Santantines,True,0,0,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,1,0,1,41.0,1,0,1,0,1,1,Gravior Noxnuther,False,0,0,0,1
8689,0,1,2,18.0,0,0,0,0,0,0,Kurta Mondalley,False,0,0,6,0
8690,0,0,0,26.0,0,0,0,1,1,0,Fayey Connon,True,0,0,6,0
8691,1,0,1,32.0,0,0,1,0,1,1,Celeon Hontichre,False,1,1,4,0
8692,1,0,0,44.0,0,1,1,0,0,1,Propsh Hontichre,True,1,1,4,0

In [59]:
# Next is Transported attribute
df.Transported.value_counts(dropna=False)

True     4378
False    4315
Name: Transported, dtype: int64

In [60]:
# Format to int where False = 0, True = 1
df.Transported = df.Transported.apply(lambda x: 0 if x == "False" else 1)
df.Transported.value_counts(dropna=False)

1    4378
0    4315
Name: Transported, dtype: int64

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8693 non-null   int64
 1   CryoSleep     8693 non-null   int64
 2   Destination   8693 non-null   int64
 3   Age           8514 non-null   object
 4   VIP           8693 non-null   int64
 5   RoomService   8693 non-null   int64
 6   FoodCourt     8693 non-null   int64
 7   ShoppingMall  8693 non-null   int64
 8   Spa           8693 non-null   int64
 9   VRDeck        8693 non-null   int64
 10  Name          8493 non-null   object
 11  Transported   8693 non-null   int64
 12  Company       8693 non-null   int64
 13  Number        8693 non-null   int64
 14  Deck          8693 non-null   int64
 15  Side          8693 non-null   int64
dtypes: int64(14), object(2)
memory usage: 1.1+ MB

In [62]:
df.Age.info()

<class 'pandas.core.series.Series'>
RangeIndex: 8693 entries, 0 to 8692
Series name: Age
Non-Null Count  Dtype
--------------  -----
8514 non-null   object
dtypes: object(1)
memory usage: 68.0+ KB

In [63]:
# Age str -> float
df["Age"] = df["Age"].astype("float64")

In [64]:
# Check not float values
df["Age"].isna()

0       False
1       False
2       False
3       False
4       False
        ...
8688    False
8689    False
8690    False
8691    False
8692    False
Name: Age, Length: 8693, dtype: bool

In [65]:
# Calculate mean value and replace False
med_val = df["Age"].mean()
df["Age"] = df["Age"].fillna(med_val)

In [66]:
df["Age"].mean()

28.827930467465354

In [67]:
df.info()
# Looks good

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8693 non-null   int64
 1   CryoSleep     8693 non-null   int64
 2   Destination   8693 non-null   int64
 3   Age           8693 non-null   float64
 4   VIP           8693 non-null   int64
 5   RoomService   8693 non-null   int64
 6   FoodCourt     8693 non-null   int64
 7   ShoppingMall  8693 non-null   int64
 8   Spa           8693 non-null   int64
 9   VRDeck        8693 non-null   int64
 10  Name          8493 non-null   object
 11  Transported   8693 non-null   int64
 12  Company       8693 non-null   int64
 13  Number        8693 non-null   int64
 14  Deck          8693 non-null   int64
 15  Side          8693 non-null   int64
dtypes: float64(1), int64(14), object(1)
memory usage: 1.1+ MB

<b>Simple try to amalyse data and make conclusions</b>

In [68]:
# Final table
df

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Company,Number,Deck,Side
0,1,0,0,39.0,0,0,0,0,0,0,Maham Ofracculy,0,0,0,1,1
1,0,0,0,24.0,0,1,1,1,1,1,Juanna Vines,1,0,0,5,0
2,1,0,0,58.0,1,1,1,0,1,1,Altark Susent,0,1,1,0,0
3,1,0,0,33.0,0,0,1,1,1,1,Solam Susent,0,1,1,0,0
4,0,0,0,16.0,0,1,1,1,1,1,Willy Santantines,1,0,0,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,1,0,1,41.0,1,0,1,0,1,1,Gravior Noxnuther,0,0,0,0,1
8689,0,1,2,18.0,0,0,0,0,0,0,Kurta Mondalley,0,0,0,6,0
8690,0,0,0,26.0,0,0,0,1,1,0,Fayey Connon,1,0,0,6,0
8691,1,0,1,32.0,0,0,1,0,1,1,Celeon Hontichre,0,1,1,4,0
8692,1,0,0,44.0,0,1,1,0,0,1,Propsh Hontichre,1,1,1,4,0

In [69]:
# Looking for dependence between HomePlanet and survival
df[["HomePlanet", "Transported"]].groupby("HomePlanet").agg("sum")

            Transported
HomePlanet
0                  2054
1                  1404
2                   920

In [70]:
df.HomePlanet.value_counts()

0    4803
1    2131
2    1759
Name: HomePlanet, dtype: int64

No obvious dependence between home planet and survival rate
50% of survivals for each planet

In [71]:
# Looking for dependence between cryo sleep and survival
df[["CryoSleep", "Transported"]].groupby("CryoSleep").agg("sum")

           Transported
CryoSleep
0                 1895
1                 2483

In [72]:
df.CryoSleep.value_counts()

0    5656
1    3037
Name: CryoSleep, dtype: int64

Survival percentage is higher for passengers who were in cryo sleep

In [73]:
df[["Destination", "Transported"]].groupby("Destination").agg("sum")

             Transported
Destination
0                   2879
1                   1098
2                    401

In [74]:
df.Destination.value_counts()

0    6097
1    1800
2     796
Name: Destination, dtype: int64

No obvious dependency but looks like passengers who travel to planets 1 and 2 have slightly higher chances

In [75]:
df[["VIP", "Transported"]].groupby("VIP").agg("sum")

     Transported
VIP
0           4302
1             76

In [76]:
df.VIP.value_counts()

0    8494
1     199
Name: VIP, dtype: int64

No obvious dependency between VIP and regular passengers survival rate

In [77]:
df[["RoomService", "Transported"]].groupby("RoomService").agg("sum")

             Transported
RoomService
0                   3615
1                    763

In [78]:
df.RoomService.value_counts()

0    5758
1    2935
Name: RoomService, dtype: int64

Passengers who didn't use room service have higher survival rate

In [79]:
df[["FoodCourt", "Transported"]].groupby("FoodCourt").agg("sum")

           Transported
FoodCourt
0                 3323
1                 1055

In [80]:
df.FoodCourt.value_counts()

0    5639
1    3054
Name: FoodCourt, dtype: int64

Passengers who used food court service have higher survival rate

In [81]:
df[["Spa", "Transported"]].groupby("Spa").agg("sum")

     Transported
Spa
0           3494
1            884

In [82]:
df.Spa.value_counts()

0    5507
1    3186
Name: Spa, dtype: int64

Passengers who didn't use spa service have much higher survival rate

In [83]:
df[["VRDeck", "Transported"]].groupby("VRDeck").agg("sum")

        Transported
VRDeck
0              3549
1               829

In [84]:
df.VRDeck.value_counts()

0    5683
1    3010
Name: VRDeck, dtype: int64

Passengers who didn't use VRDeck service have much higher survival rate

In [85]:
df[["Company", "Transported"]].groupby("Company").agg("sum")

         Transported
Company
0               2174
1               2204

In [86]:
df.Company.value_counts()

0    4805
1    3888
Name: Company, dtype: int64

No obvious dependency: passengers without company survived slightly more often

In [87]:
# check dependency between nu,ber of group and survival rate
survived = df[["Number", "Transported"]].groupby("Number").agg("sum")

In [88]:
all_pas = df.Number.value_counts()

In [89]:
# check percentage
result = []
for i in range(8):
    percent = round((survived["Transported"][i] / all_pas[i] * 100), 2)
    result.append(percent)

print(result)

[45.24, 53.8, 59.31, 64.08, 59.25, 61.49, 54.11, 39.42]

No obvious dependency between number of group and survival rate

In [90]:
# Check Deck/survival dependency
survived = df[["Deck", "Transported"]].groupby("Deck").agg("sum")
all_pas = df.Deck.value_counts()

In [91]:
result = []
for i in range(7):
    percent = round((survived["Transported"][i] / all_pas[i] * 100), 2)
    result.append(percent)

print(result)

[49.61, 73.43, 68.01, 43.31, 35.73, 44.36, 51.62]

Passengers on deck B survived more often

In [92]:
# Side/survival dependency
df[["Side", "Transported"]].groupby("Side").agg("sum")

      Transported
Side
0            2480
1            1898

In [93]:
df.Side.value_counts()

0    4487
1    4206
Name: Side, dtype: int64

In [94]:
survived = df[["Side", "Transported"]].groupby("Side").agg("sum")
all_pas = df.Side.value_counts()

result = []
for i in range(2):
    percent = round((survived["Transported"][i] / all_pas[i] * 100), 2)
    result.append(percent)

print(result)

[55.27, 45.13]

Passengers on P side survived slightly more often

**Observations**
1. No obvious dependence between home planet and survival rate. Approx. 50% of survivals for each planet
2. Survival percentage is higher for passengers who were in cryo sleep
3. No obvious dependency but looks like passengers who travel to planets 1 and 2 have slightly higher chances
4. No obvious dependency between VIP and regular passengers survival rate
5. Passengers who didn't use room service have higher survival rate
6. Passengers who used food court service have higher survival rate
7. Passengers who didn't use spa service have much higher survival rate
8. Passengers who didn’t use VRDeck service have much higher survival rate
9. No obvious dependency: passengers without company survived slightly more often
10. No obvious dependency between number of group and survival rate
11. Passengers on deck B survived more often
12. Passengers on P side survived slightly more often